dist
dist/*
data/*
tsdist/*
node_modules/*
monitoring/node_modules/*
*.sublime-workspace
yarn-error.log
.screeps.yaml
.screeps-multimeter.history
screeps-multimeter.json

src/save-events/functions/credentials.js
src/save-events/functions/node_modules/

src/download-events/node_modules/

src/show-events/node_modules/